.release-card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: min(100%, 80vh);
}

.release-card-image {
  /* width: max(50vh, 60vw); */
  width: 100%;
  object-fit: cover;
}

.listen-button {
  margin: 0;
  width: 100%;
}