.project-container {
  background-color: #42AC9D;
  display: flex; 
  padding: 20px;
  flex-wrap: wrap-reverse;
  justify-content: center;
  /* align-items: center; */
}

.project-list {
  flex: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 30px; 
}

.project-title-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.top-space {
  flex: 1;
}

.project-title {
  color: white;
  position: sticky;
  bottom: 20px;
  text-align: end;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 1000px) {
  .project-list, .project-container {
    padding: 10px;
  }

  .project-list {
    flex-basis: 1000px;
    grid-template-columns: none;
  }

  .project-title {
    text-align: center;
  }
}