.links {
  left: 0;
  width: 100%;
  bottom: 0px;
  padding: 10px;
  /* position: absolute; */
  display: flex;
  z-index: 1000;
  align-items: center;
}

.centered-links {
  justify-content: center;
}

.left-links {
  justify-content: flex-start;
}

.right-links {
  justify-content: flex-end;
}

.linkedin-button {
  background: url(../../assets/linkedin_icon.svg);
}

.github-button {
  background: url(../../assets/github_icon.svg);
}

.gitlab-button {
  background: url(../../assets/gitlab_icon.svg);
}

.resume-button {
  background: url(../../assets/resume_icon.png);
}

.facebook-button {
  background: url(../../assets/facebook_icon.png);
}

.instagram-button {
  background: url(../../assets/instagram_icon.png);
}

.youtube-button {
  background: url(../../assets/youtube_icon.png);
}

.spotify-button {
  background: url(../../assets/spotify_icon.png);
}

.soundcloud-button {
  background: url(../../assets/soundcloud_icon.png);
}

.icon-button {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: border 0.1s;
}

.music-icon-button {
  width: 22px;
}

.icon-button:hover {
  opacity: 0.9;
  border-bottom: 3px dotted black;
}

.white-icons > * {
  filter: brightness(0) invert(1);
}