:root {
  --social-link-height: 50px;
  --container-padding: 0px;
  --hero-bottom-offset: 100vh;
  --doodle-background-size: 350px;
}

/* * {
  transition: font-size 40ms;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, Roboto, sans-serif;
  scroll-behavior: smooth;
} */
/* 
#music-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: url(../../assets/backgrounds/music_background.jpeg);
  background-size: cover;
  background-position: center;
} */

.music-container {
  overflow: clip;
  background: url(../../assets/backgrounds/music_background_doodle.png) no-repeat center center fixed;
  background-size: var(--doodle-background-size);
  background-repeat: repeat;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-no-wrap {
  white-space: nowrap;
}

@media only screen and (max-width: 900px) {
  .links {
    flex-direction: row;
  }

  .text-wrapper > * {
    text-align: center;
  }

  .text-wrapper {
    justify-content: flex-start;
  }

  .content {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.music-button-bar {
  /* position: sticky !important; */
  top: 0;
  left: 0;
  padding: 15px;
  color: white;
  justify-content: flex-start !important;
  transition: background 0.2s;
  overflow: hidden;
}

.artist-name {
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Hurricane', cursive;
  font-family: 'Qwitcher Grypen', cursive;
  position: absolute;
  right: 15px;
  bottom: 40px;
  color: white;
}

.listen-button {
  background: #fff;
  color: black;
  border: none;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  font-size: calc(.8vw + 13px);
  font-family: 'Fjalla One', sans-serif;
  margin-top: 10px;
}

.black-filled {
  background: #000;
  transition: background .4s;
}