.back-home-button {
  display: flex;
  align-items: center;

  background: none;
	color: inherit;
	border: none;
	outline: inherit;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.back-home-button:hover {
  background-color: #0000002a !important;
}

.back-home-button-text {
  display: flex;
  align-items: center;
}