.experience-container {
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* background: #94af82; */
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  background: linear-gradient(-65deg,#8dd1e6,#75b2c5,#5c9bb4);
}

.exp-title-container {
  flex: 1;
  padding: 40px;
}

.exp-title {
  color: white;
  position: sticky;
  top: 40%;
  width: fit-content;
  text-align: end;
  margin: auto;
  text-shadow: -2px 2px 4px rgba(0,0,0,0.2);
}

.timeline {
  padding: 20px;
  position: relative;
  width: auto;
  margin: auto;
}

@media only screen and (min-width: 1000px) {
  .timeline {
    width: 1000px;
    align-self: center;
  }

  .timeline::before {
    content: "";
    position: absolute;
    height: calc(100% - 80px);
    width: 2px;
    left: 50%;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .timeline .item:nth-child(odd) {
    float: left;
    clear: right;
  }

  .timeline .item:nth-child(even) {
    float: right;
    clear: left;
  }

  .timeline .item {
    margin: 20px;
    margin-bottom: 40px;
    width: calc(50% - 40px);
  }

  .timeline .item::after, .timeline::after {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-6px, -170%);
    left: 50%;
  }

  .timeline::after {
    bottom: 0;
  }
}