.card {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
  transition: box-shadow 0.15s;
  transition: background 0.25s;
  transition: color 0.1s;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.card:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.heading img {
  width: 70px
}

.logo-container {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  margin: 0 10px 0 10px;
}

.title {
  font-weight: 700;
  /* font-size: 26px; */
  font-size: calc(17px + 0.8vw);
}

.subtitle {
  font-weight: 500;
  /* font-size: 21px; */
  font-size: calc(12px + 0.8vw);
}

.date {
  font-weight: 300;
  /* font-size: 21px; */
  font-size: calc(12px + 0.8vw);
  font-style: italic;
}

.description {
  margin-top: 15px;
  font-weight: 400;
  /* font-size: 20px; */
  font-size: calc(12px + 0.8vw);
}
