.card {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
  width: 100%;
  transition: box-shadow 0.15s;
  transition: background 0.25s;
  transition: color 0.1s;
  cursor: default;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  /* border: solid 1px grey; */
}

.card:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
}

.heading {
  display: flex;
  width: 100%;
}

.heading img {
  width: 70px
}

.logo-container {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  margin: 0 10px 0 10px;
}

.title {
  font-weight: 700;
  font-size: 26px;
}

.subtitle {
  font-weight: 500;
  font-size: 21px;
}

.date {
  font-weight: 300;
  font-size: 21px;
  font-style: italic;
}

.description {
  margin-top: 15px;
  font-weight: 300;
  font-size: 21px;
  /* text-align: justify; */
}
