:root {
  --social-link-height: 50px;
}

* {
  transition: font-size 40ms;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, Roboto, sans-serif;
  scroll-behavior: smooth;
}

.content-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  background: #000000dc;
  height: 100vh;
  position: fixed;
  bottom: 0;

  scroll-snap-type: y proximity;
  scroll-margin-top: 10vh;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-no-wrap {
  white-space: nowrap;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.image-cropper {
  box-shadow: rgba(0, 0, 0, 0.66) 0px 10px 15px 2px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-container {
    min-height: auto;
  }

  .container {
    scroll-snap-type: none;
  }

  .links {
    flex-direction: row;
  }

  .text-wrapper {
    flex: 0;
  }

  .text-wrapper > * {
    text-align: center;
  }

  .text-wrapper {
    justify-content: flex-start;
  }

  .content {
    flex-direction: column;
    padding-top: 6vh;
    padding-bottom: 5vh;
  }

  .image-cropper {
    width: 40vw;
    height: 40vw;
    min-width: 200px;
    min-height: 200px;
  } 

  .image-container {
    margin: 30px;
  }
}

@keyframes gradient {
	0% {
		background-position: 5% 80%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 5% 80%;
	}
}

@keyframes float {
  0% {
    transform: translateY(0px);
    box-shadow: rgba(0, 0, 0, 0.66) 0px 10px 15px 2px;
  }
  50% {
    transform: translateY(-20px);
    box-shadow: rgba(0, 0, 0, 0.46) 0px 40px 40px 2px;
  }
  100% {
    transform: translateY(0px);
    box-shadow: rgba(0, 0, 0, 0.66) 0px 10px 15px 2px;
  }
}


.float-hover {
  transition: all .3s;
}

.float-hover:hover {
  transform: translateY(-20px);
  box-shadow: rgba(0, 0, 0, 0.46) 0px 30px 30px 2px;
}

.button-bar {
  position: fixed;
  display: flex;
  z-index: 11;
}

.home-button-bar {
  right: 20px;
  top: 20px;
}