.edu-container {
  background: #ffa58e;
  height: calc(100vh + 100px);

  position: sticky;
  top: 0;
  z-index: 6;
  /* scroll-snap-align: start; */
}

.floating {
  animation: float 2s infinite ease-in-out;
}

.text {
  text-align: start;
}

.wave1 {
  transform: translateY(5px);
  background: "#ffa58e";
  overflow: visible;
  height: 100px;
  width: 100%;
}

.path1 {
  filter: drop-shadow( 0px -22px 10px rgba(0, 0, 0, 0.1));
  transform: translate(0, 0px);
  z-index: 0;
}