.music-hero-container {
  height: calc(100vh + var(--hero-bottom-offset));
  width: 100%;
  background: #00000055;
}

.backdrop {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  backdrop-filter: blur(10px);
}

.portrait-container {
  z-index: 5;
}

.transparent-portrait {
  z-index: 15;
}

.big-portrait-container {
  position: sticky;
  height: 100lvh;
  bottom: 0;
  top: 0;
  width: calc(100% + 2 * var(--container-padding));
}

.big-portrait-cropper {
  height: 100%;
  overflow: hidden;
}

.music-font {
  font-family: 'Rubik Glitch', system-ui;
  font-style: italic;
  color: white;
}

.music-title {
  padding: 5%;
  z-index: 0;
  font-size: calc(4vw + 30px);
  position: absolute;
  top: 50lvh;
  left: 0;
  z-index: 9;
}

#its-word {
  font-size: calc(1vw + 20px);
  padding-left: calc(1vw + 10px);
}

#in-music-word {
  font-size: calc(1vw + 10px);
  padding-left: 10px;
  /* text-align: right; */
}

#name {
  font-family: 'Rubik Dirt', system-ui;
  padding-left: 2px;
}