.music-hero-container {
  height: 100dvh;
  width: 100%;
  /* overflow-x: hidden; */
  background: #00000055;
}

.backdrop {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  backdrop-filter: blur(10px);
}
.portrait-container {
  z-index: 9;
}

.mini-portrait-container {
  top: 0;
  right: 0;
  transition: opacity 0.2s;
  padding: 20px 25px 20px 25px;
  position: fixed;
}

.big-portrait-container {
  position: absolute;
  height: 100dvh;
  width: 100%;
  top: 0;
}

.mini-portrait-cropper {
  transition: all 0.1s;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: #0e0e0e45 1px solid;
  overflow: hidden;
  border: 1px white solid;
}

.mini-portrait-cropper:hover {
  transition: all 0.1s;
  transform: none;
  box-shadow: none;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.big-portrait-cropper {
  height: 100%;
  /* width: 100%; */
  overflow: hidden;
}

.hidden {
  transition: opacity 0.1s;
  opacity: 0;
}

.music-font {
  font-family: 'Rubik Glitch', system-ui;
  font-style: italic;
  color: white;
}

.music-title {
  padding: 5%;
  z-index: 0;
  font-size: calc(4vw + 30px);
  position: absolute;
  bottom: 15%;
  left: 0;
  z-index: 9;
}

#its-word {
  font-size: calc(1vw + 20px);
  padding-left: calc(1vw + 10px);
}

#in-music-word {
  font-size: calc(1vw + 10px);
  padding-left: 10px;
  /* text-align: right; */
}

.music-arrow {
  left: 0;
  border-radius: 0 5px 0 0;
  background: transparent;
  box-shadow: #fdfdfd61 0px 0px 10px 1px;
  z-index: 9;
}

#name {
  font-family: 'Rubik Dirt', system-ui;
  padding-left: 2px;
}