.new-release-container {
  position: relative;
  display: flex;
  height: 50vh;
  min-height: 300px;
  width: 100%;
  z-index: 10;

  padding: 50px;
  flex-direction: row !important;
  justify-content: flex-end !important;
  align-items: center;
}

#current-release {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  font-family: 'Fjalla One', sans-serif;
  font-size: calc(1vw + 20px);
  text-align: right;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  color: white;
  border: 5px white solid;
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, .8) 10px 10px 25px 5px;
}

#music-background {
  position: fixed;
  height: 100svh;
  width: calc(100% - var(--container-padding) * 2);
  /* width: 100%; */
  top: 0;

  background: url(../../../../assets/backgrounds/music_background.jpeg);
  background-size: cover;
  background-position: center;
}
