@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.container {
  scroll-snap-type: y proximity;
  scroll-margin-top: 20vh;
  overflow-y: auto;
  height: 100vh;
  /* scroll-behavior: smooth; */
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-cropper {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .text-wrapper > * {
    text-align: center;
  }

  .content {
    flex-direction: column;
    padding: 50px;
  }

  .image-cropper {
    width: 40vw;
    height: 40vw;
    min-width: 200px;
    min-height: 200px;
  } 

  .image-container {
    flex: 0;
    margin-bottom: 30px;
  }
}