/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,500&display=swap'); */

body {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: Roboto; */
  font-family: Lato, Roboto, san-serif;
}

.content-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.container {
  scroll-snap-type: y proximity;
  scroll-margin-top: 10vh;
  overflow-y: auto;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-no-wrap {
  white-space: nowrap;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.image-cropper {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .container {
    scroll-snap-type: none;
  }
}

@media only screen and (max-width: 1000px) {
  .links {
    flex-direction: row;
  }

  .text-wrapper {
    flex: 2;
  }

  .text-wrapper > * {
    text-align: center;
  }

  .content {
    flex-direction: column;
    padding: 30px;
  }

  .image-cropper {
    width: 40vw;
    height: 40vw;
    min-width: 200px;
    min-height: 200px;
  } 

  .image-container {
    flex: 1;
    margin-bottom: 30px;
  }
}

@keyframes gradient {
	0% {
		background-position: 15% 90%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 15% 90%;
	}
}